<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinchi.common.mapper.PowerCheckRecordHeadMapper" >
  <resultMap id="BaseResultMap" type="com.jinchi.common.domain.PowerCheckRecordHead" >
    <constructor>
      <idArg column="code" jdbcType="BIGINT" javaType="java.lang.Long"/>
      <arg column="site_code" jdbcType="BIGINT" javaType="java.lang.Long"/>
      <arg column="model_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
      <arg column="check_date" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
      <arg column="operator" jdbcType="VARCHAR" javaType="java.lang.String"/>
      <arg column="class_num" jdbcType="VARCHAR" javaType="java.lang.String"/>
      <arg column="note" jdbcType="VARCHAR" javaType="java.lang.String"/>
      <arg column="status" jdbcType="BIT" javaType="java.lang.Boolean"/>
      <arg column="effective_date" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    code, site_code, model_name, check_date, operator, class_num, note, status, effective_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jinchi.common.domain.PowerCheckRecordHeadExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from power_check_record_head
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List"/>
    from power_check_record_head
    where code = #{code,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from power_check_record_head
    where code = #{code,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jinchi.common.domain.PowerCheckRecordHeadExample" >
    delete from power_check_record_head
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jinchi.common.domain.PowerCheckRecordHead">
    <selectKey resultType="java.lang.Long" keyProperty="code" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into power_check_record_head (site_code, model_name, check_date,
    operator, class_num, note,
    status, effective_date)
    values (#{siteCode,jdbcType=BIGINT}, #{modelName,jdbcType=VARCHAR}, #{checkDate,jdbcType=TIMESTAMP},
    #{operator,jdbcType=VARCHAR}, #{classNum,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR},
    #{status,jdbcType=BIT}, #{effectiveDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jinchi.common.domain.PowerCheckRecordHead" >
    <selectKey resultType="java.lang.Long" keyProperty="code" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into power_check_record_head
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="siteCode != null" >
        site_code,
      </if>
      <if test="modelName != null" >
        model_name,
      </if>
      <if test="checkDate != null" >
        check_date,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="classNum != null" >
        class_num,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="effectiveDate != null">
        effective_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="siteCode != null" >
        #{siteCode,jdbcType=BIGINT},
      </if>
      <if test="modelName != null" >
        #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null" >
        #{checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="classNum != null" >
        #{classNum,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="effectiveDate != null">
        #{effectiveDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jinchi.common.domain.PowerCheckRecordHeadExample" resultType="java.lang.Integer" >
    select count(*) from power_check_record_head
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update power_check_record_head
    <set >
      <if test="record.code != null" >
        code = #{record.code,jdbcType=BIGINT},
      </if>
      <if test="record.siteCode != null" >
        site_code = #{record.siteCode,jdbcType=BIGINT},
      </if>
      <if test="record.modelName != null" >
        model_name = #{record.modelName,jdbcType=VARCHAR},
      </if>
      <if test="record.checkDate != null" >
        check_date = #{record.checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.classNum != null" >
        class_num = #{record.classNum,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.effectiveDate != null">
        effective_date = #{record.effectiveDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update power_check_record_head
    set code = #{record.code,jdbcType=BIGINT},
      site_code = #{record.siteCode,jdbcType=BIGINT},
      model_name = #{record.modelName,jdbcType=VARCHAR},
      check_date = #{record.checkDate,jdbcType=TIMESTAMP},
      operator = #{record.operator,jdbcType=VARCHAR},
      class_num = #{record.classNum,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR},
    status = #{record.status,jdbcType=BIT},
    effective_date = #{record.effectiveDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinchi.common.domain.PowerCheckRecordHead" >
    update power_check_record_head
    <set >
      <if test="siteCode != null" >
        site_code = #{siteCode,jdbcType=BIGINT},
      </if>
      <if test="modelName != null" >
        model_name = #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null" >
        check_date = #{checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="classNum != null" >
        class_num = #{classNum,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="effectiveDate != null">
        effective_date = #{effectiveDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where code = #{code,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jinchi.common.domain.PowerCheckRecordHead">
    update power_check_record_head
    set site_code = #{siteCode,jdbcType=BIGINT},
      model_name = #{modelName,jdbcType=VARCHAR},
      check_date = #{checkDate,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR},
      class_num = #{classNum,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      effective_date = #{effectiveDate,jdbcType=TIMESTAMP}
    where code = #{code,jdbcType=BIGINT}
  </update>
</mapper>