<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinchi.common.mapper.PowerCheckModelDetailMapper" >
  <resultMap id="BaseResultMap" type="com.jinchi.common.domain.PowerCheckModelDetail" >
      <constructor>
          <idArg column="code" jdbcType="BIGINT" javaType="java.lang.Long"/>
          <arg column="model_code" jdbcType="BIGINT" javaType="java.lang.Long"/>
          <arg column="place" jdbcType="VARCHAR" javaType="java.lang.String"/>
          <arg column="check_item" jdbcType="VARCHAR" javaType="java.lang.String"/>
          <arg column="check_content" jdbcType="VARCHAR" javaType="java.lang.String"/>
          <arg column="data_type" jdbcType="TINYINT" javaType="java.lang.Byte"/>
          <arg column="frequency" jdbcType="VARCHAR" javaType="java.lang.String"/>
      </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    code, model_code, place, check_item, check_content, data_type, frequency
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jinchi.common.domain.PowerCheckModelDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
      'true' as QUERYID,
    <include refid="Base_Column_List" />
    from power_check_model_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from power_check_model_detail
        where code = #{code,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from power_check_model_detail
    where code = #{code,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jinchi.common.domain.PowerCheckModelDetailExample" >
    delete from power_check_model_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.jinchi.common.domain.PowerCheckModelDetail">
        <selectKey resultType="java.lang.Long" keyProperty="code" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into power_check_model_detail (model_code, place, check_item,
        check_content, data_type, frequency
        )
        values (#{modelCode,jdbcType=BIGINT}, #{place,jdbcType=VARCHAR}, #{checkItem,jdbcType=VARCHAR},
        #{checkContent,jdbcType=VARCHAR}, #{dataType,jdbcType=TINYINT}, #{frequency,jdbcType=VARCHAR}
        )
    </insert>
  <insert id="insertSelective" parameterType="com.jinchi.common.domain.PowerCheckModelDetail" >
    <selectKey resultType="java.lang.Long" keyProperty="code" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into power_check_model_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="modelCode != null" >
        model_code,
      </if>
      <if test="place != null" >
        place,
      </if>
      <if test="checkItem != null" >
        check_item,
      </if>
      <if test="checkContent != null" >
        check_content,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
      <if test="frequency != null" >
        frequency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="modelCode != null" >
        #{modelCode,jdbcType=BIGINT},
      </if>
      <if test="place != null" >
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="checkItem != null" >
        #{checkItem,jdbcType=VARCHAR},
      </if>
      <if test="checkContent != null" >
        #{checkContent,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=TINYINT},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jinchi.common.domain.PowerCheckModelDetailExample" resultType="java.lang.Integer" >
    select count(*) from power_check_model_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update power_check_model_detail
    <set >
      <if test="record.code != null" >
        code = #{record.code,jdbcType=BIGINT},
      </if>
      <if test="record.modelCode != null" >
        model_code = #{record.modelCode,jdbcType=BIGINT},
      </if>
      <if test="record.place != null" >
        place = #{record.place,jdbcType=VARCHAR},
      </if>
      <if test="record.checkItem != null" >
        check_item = #{record.checkItem,jdbcType=VARCHAR},
      </if>
      <if test="record.checkContent != null" >
        check_content = #{record.checkContent,jdbcType=VARCHAR},
      </if>
      <if test="record.dataType != null" >
        data_type = #{record.dataType,jdbcType=TINYINT},
      </if>
      <if test="record.frequency != null" >
        frequency = #{record.frequency,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update power_check_model_detail
    set code = #{record.code,jdbcType=BIGINT},
      model_code = #{record.modelCode,jdbcType=BIGINT},
      place = #{record.place,jdbcType=VARCHAR},
      check_item = #{record.checkItem,jdbcType=VARCHAR},
      check_content = #{record.checkContent,jdbcType=VARCHAR},
      data_type = #{record.dataType,jdbcType=TINYINT},
      frequency = #{record.frequency,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinchi.common.domain.PowerCheckModelDetail" >
    update power_check_model_detail
    <set >
      <if test="modelCode != null" >
        model_code = #{modelCode,jdbcType=BIGINT},
      </if>
      <if test="place != null" >
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="checkItem != null" >
        check_item = #{checkItem,jdbcType=VARCHAR},
      </if>
      <if test="checkContent != null" >
        check_content = #{checkContent,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        data_type = #{dataType,jdbcType=TINYINT},
      </if>
      <if test="frequency != null" >
        frequency = #{frequency,jdbcType=VARCHAR},
      </if>
    </set>
      where code = #{code,jdbcType=BIGINT}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.jinchi.common.domain.PowerCheckModelDetail">
    update power_check_model_detail
    set model_code = #{modelCode,jdbcType=BIGINT},
      place = #{place,jdbcType=VARCHAR},
      check_item = #{checkItem,jdbcType=VARCHAR},
      check_content = #{checkContent,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=TINYINT},
      frequency = #{frequency,jdbcType=VARCHAR}
    where code = #{code,jdbcType=BIGINT}
  </update>
</mapper>