<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.api.mapper.SwmsStockInventoryReallyReportsMapper">
    <select id="selectPageVo" resultType="com.jc.api.entity.SwmsStockInventoryReallyReports">
        SELECT
        a.*,
        b.type_name AS "typeName",
        c.sub_type_name AS "subTypeName",
        d.material_supplier_name AS "supplierName"
        FROM
        `SWMS_stock_inventory_really_reports` a
        LEFT JOIN SWMS_basic_material_type b ON a.material_type_id = b.id
        LEFT JOIN SWMS_basic_material_sub_type c ON a.material_sub_type_id = c.id
        LEFT JOIN SWMS_basic_supplier_info d ON a.material_supplier_code = d.id
        LEFT JOIN SWMS_basic_material_info e ON a.material_name_code = e.id

        <where>
            <if test="typeId != null">
                and a.material_type_id = #{typeId}
            </if>
            <if test="subTypeId != null">
                and a.material_sub_type_id = #{subTypeId}
            </if>
            <if test="supplierId != null">
                and a.material_supplier_code = #{supplierId}
            </if>
            <if test="materialNameCode != null">
                and a.material_name_code = #{materialNameCode}
            </if>
        </where>
    </select>
</mapper>